#titel {
  background-color: green; /* 初始背景色为绿色 */
}
 
/* 当用户悬停时改变背景色 */
#titel:hover {
  background-color: yelow;
}
#info {
  background-color: green; /* 初始背景色为绿色 */
}
#sub_mesg {
  background-color: blue; /* 初始背景色为蓝色 */
}
#sub_mesg_a {
  background-color: red; /* 初始背景色为红色 */
}
