*{ margin: 0; padding: 0; font-family: "微软雅黑"}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd { margin: 0px; padding: 0px; font-size: 20px; font-weight: normal;}
img { border-style: none;}
li{ list-style: none; float: left}
a{ text-decoration: none}
<!-- 注意！下方引用的是存储在网络，而非项目文件夹内的背景图片文件 -->
body {	
	background-image: url(./img/01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*主题部分*/
#titel {
  background-color: white; /* 修改背景色 */
  color: black; /* 修改字体色 */
  font-size: 40px /* 修改字体大小 */
}
#info {
  background-color: white; /* 修改背景色 */
  color: blue;
}
#sub_mesg {
  background-color: yellow; /* 修改背景色 */
}
#sub_mesg_a {
  background-color: yellow; /* 修改背景色 */
}
